{% comment %} <{% load static %}> {% endcomment %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>stu_info</title>
    <style>
      .btn {
        border-radius:50%;
      }
    .student_add{
      margin-left:80%;
    }
    </style>
  </head>
  <body style="background-image: url('https://img.freepik.com/premium-vector/blue-green-gradient-background-with-bokeh-effect_23-2148358651.jpg?w=2000');"><br>
    <h1 style="text-align:center;"><u>Welcome to Students Information</u></h1>
      {% if messages %}
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
      {% endif %}
    <button type="button" class="btn btn-success student_add">
      <a href="add_student/" style="color:white;">Add</a></button>
      <button type="button" class="btn btn-danger btn-sm">
        <a href="{% url 'logout' %}" style="color:white;" > Logout</a></button><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Name</th>
          <th scope="col">Standard</th>
          <th scope="col">Roll Number</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Gender</th>
          <th scope="col">Image</th>
          
          <th scope="col">Activity</th>
        </tr>
      </thead>
              {% for stu in stud%}     
      <tbody>
        <tr>
          <th scope="row">{{stu.id}}</th>
          <td>{{stu.name}}</td>
          <td>{{stu.standard}}</td>
          <td>{{stu.roll_no}}</td>
          <td>{{stu.email}}</td>
          <td>{{stu.phone}}</td>
          <td>{{stu.gender}}</td>
          
          <td><img src="{% if stu.image %} {{stu.image.url}} {% else %} https://picsum.photos/200/300 {% endif %}" style="width: 100px; height: 75px; "></td>
          
          <th scope="row">
            <button type="button" class="btn btn-primary">
              <a href="edit_student/{{stu.id}}" style="color:white;">Edit </a></button>
            <button type="button" class="btn btn-success">
              <a href="view_student/{{stu.id}}" style="color:white;">View</a></button>
            <button type="button" class="btn btn-danger">
              <a href="delete_student/{{stu.id}}" style="color:white; " onclick="return confirm('Are you sure to Delete Student ?')">Delete</a></button>
          </th>
        </tr>
         {% endfor %}
         <br>
      </tbody>
    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>